@font-face {
  font-family: 'Operator Mono';
  src: url('OperatorMono-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Operator Mono';
  src: url('OperatorMono-MediumItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
