@font-face {
  font-family: 'MonoLisa';
  src: url('MonoLisa-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonoLisa';
  src: url('MonoLisa-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
