@font-face {
  font-family: "Courier Prime";
  src: url("courier-prime.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Courier Prime";
  src: url("courier-prime-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
