@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
