@font-face {
  font-family: 'Cartograph CF';
  src: url('Cartograph CF Regular.woff2') format('woff2'),
    url('Cartograph CF Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
