@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrainsMono-Regular.woff2") format("woff2"),;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
