@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-Regular.woff2') format('woff2'),
    url('FantasqueSansMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-Italic.woff2') format('woff2'),
    url('FantasqueSansMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
