@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Regular.woff2") format("woff2"), 
        url("IBMPlexMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Italic.woff2") format("woff2"), 
        url("IBMPlexMono-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
