@font-face {
  font-family: "Cousine";
  src: url("cousine.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("cousine-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
